{# src/GhostSt/CoreBundle/views/Admin/Game/form.html.twig #}

{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output="css/compiled/admin_style.css"
    '@GhostStCoreBundle/Resources/public/css/stylesheet.css'
    '@GhostStCoreBundle/Resources/public/css/switch.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" screen="media">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    "@GhostStCoreBundle/Resources/public/js/game_form.js"
    output="js/compiled/order_form.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block checkbox_widget %}
    testtesttest
    <div class="checkbox_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>{{ 'views.admin.game.form.title'|trans }}</label>

            <div class="btn-group panel-button-group">
                <button class="btn btn-default">{{ 'views.admin.game.form.save'|trans }}</button>
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'method': 'POST'}) }}

            <div class="row result">
                <div class="col-md-3">
                    <span>{{ form_label(form.result) }}</span>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {{ form_errors(form.result) }}
                    </div>
                    <div class="row">
                        <label class="switch btn">
                            {{ form_widget(form.result) }}
                            <span class="switch-label" data-on="{{ 'views.admin.game.form.result.civilian'|trans }}"
                                  data-off="{{ 'views.admin.game.form..result.mafia'|trans }}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span>{{ form_label(form.date) }}</span>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        {{ form_errors(form.date) }}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_widget(form.date.year) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.date.month) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.date.day) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row best-move">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>{{ form_label(form.bestMove) }}</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{ form_errors(form.bestMove) }}
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(form.bestMove.position) }}
                            </div>
                            <div class="col-md-1">
                                {{ form_widget(form.bestMove.position) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.bestMove.guess) }}
                            </div>
                            <div class="col-md-3 guess">
                                {{ form_widget(form.bestMove.guess) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row players">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>{{ form_label(form.players) }}</label>
                    </div>
                    <div class="panel-body" data-prototype="
                        {% filter escape %}
                            {{ include('GhostStCoreBundle:Admin/Game:game_player_prototype.html.twig', { 'form': form.players.vars.prototype }) }}
                        {% endfilter %}
                    " data-length="{{ form.players|length }}"
                         data-length-warning="{{ 'views.admin.game.form.players.length_warning'|trans }}">
                        {% for player in form.players %}
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-ban-circle remove"></span>&nbsp;&nbsp;&nbsp;{{ form_label(player.position) }}
                                </div>
                                <div class="col-md-1">
                                    {{ form_widget(player.position) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(player.user) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(player.role) }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row button-add">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-plus"
                                      title="{{ 'views.admin.game.form.players.button-add'|trans }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row days">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>{{ form_label(form.days) }}</label>
                    </div>
                    <div class="panel-body" data-prototype="
                        {% filter escape %}
                            {{ include('GhostStCoreBundle:Admin/Game:game_day_prototype.html.twig', { 'form': form.days.vars.prototype }) }}
                        {% endfilter %}
                    " data-voting-prototype="
                        {% filter escape %}
                            {{  include('GhostStCoreBundle:Admin/Game:game_day_voting_prototype.html.twig', { 'form': tmpForm.days[0].voting.vars.prototype }) }}
                        {% endfilter %}
                    " data-length="{{ form.days|length }}">
                        {% for day_index,day in form.days %}
                            <div class="row"
                                 data-index="{{ day_index }}"
                                 data-length="{{ day.voting|length }}"
                                 data-length-warning="{{ 'views.admin.game.form.days.voting.length_warning'|trans }}">
                                <div class="head title">
                                    <div class="col-md-12">
                                        <h5>{{ 'views.admin.game.form.days.title'|trans({"{day}": day_index + 1}) }}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ban-circle remove" title="{{ 'views.admin.game.form.days.remove'|trans }}"></span></h5>
                                    </div>
                                </div>
                                <div class="head buttons">
                                    <div class="col-md-9 vote-remove-buttons">
                                        <div class="row">
                                            {% for key,person in day.voting %}
                                                <div class="col-md-1 button-remove">
                                                    <span data-index="{{ key }}"
                                                          class="glyphicon glyphicon-remove remove"></span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                        <span class="glyphicon glyphicon-user"
                                              title="{{ 'views.admin.game.form.days.icon.sheriff'|trans }}"></span>
                                            </div>
                                            <div class="col-md-4">
                                        <span class="glyphicon glyphicon-king"
                                              title="{{ 'views.admin.game.form.days.icon.don'|trans }}"></span>
                                            </div>
                                            <div class="col-md-4">
                                        <span class="glyphicon glyphicon-screenshot"
                                              title="{{ 'views.admin.game.form.days.icon.killed'|trans }}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voting">
                                    <div class="col-md-9">
                                        <div class="row position">
                                            {% for key,person in day.voting %}
                                                <div class="col-md-1 index-{{ key }}">
                                                    <div>{{ form_widget(person.position) }}</div>
                                                </div>
                                            {% endfor %}
                                            <div class="col-md-1 button-add vote-box">
                                                <span class="glyphicon glyphicon-plus"
                                                      title="{{ 'views.admin.game.form.days.voting.button-add'|trans }}"></span>
                                            </div>
                                        </div>
                                        <div class="row vote" data-length="{{ day.voting|length }}">
                                            {% for key,person in day.voting %}
                                                <div class="col-md-1 index-{{ key }}">
                                                    <div>{{ form_widget(person.vote) }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row night-activity">
                                            <div class="col-md-4">
                                                {{ form_widget(day.checkSheriff) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_widget(day.checkDon) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_widget(day.killed) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row button-add">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-plus"
                                      title="{{ 'views.admin.game.form.days.button-add'|trans }}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
